# Import Dependencies

In [2]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 500)

# Read in Data

In [3]:
# Columns to keep for the data we want to use
keep_cols= ["leaidC","leaname","fips","stateabb","grade","year","subject",
          "mn_all","mn_asn","mn_blk","mn_fem","mn_hsp","mn_mal","mn_wht",
          "mn_wag","mn_wbg","mn_whg","mn_mfg"
]

In [4]:
long_CS= pd.read_csv("resources\datasets\SEDA_geodist_long_CS_v21.csv")

In [5]:
long_gcs= pd.read_csv("resources\datasets\SEDA_geodist_long_GCS_v21.csv")

In [6]:
# This is the dataset we'll be using
long_naep= pd.read_csv("resources\datasets\SEDA_geodist_long_NAEP_v21.csv")
long_naep= long_naep.loc[:,keep_cols]

In [7]:
long_state= pd.read_csv("resources\datasets\SEDA_geodist_long_State_v21.csv")

In [8]:
pool_cs= pd.read_csv("resources\datasets\SEDA_geodist_pool_CS_v21.csv")

In [9]:
poolsub_cs= pd.read_csv("resources\datasets\SEDA_geodist_poolsub_CS_v21.csv")

# Columns in the data

In [10]:
print(len(long_CS.columns))
print(len(long_gcs.columns))
print(len(long_naep.columns))
print(len(long_state.columns))
print(len(pool_cs.columns))
print(len(poolsub_cs.columns))

50
50
18
50
33
44

In [11]:
columns_df= pd.DataFrame({
    "long_CS": pd.Series(long_CS.columns),
    "long_gcs": pd.Series(long_gcs.columns),
    "long_naep": pd.Series(long_naep.columns),
    "long_state": pd.Series(long_state.columns),
    "pool_cs": pd.Series(pool_cs.columns),
    "poolsub_cs": pd.Series(poolsub_cs.columns)
})

In [12]:
columns_df

,long_CS,long_gcs,long_naep,long_state,pool_cs,poolsub_cs
0,leaidC,leaidC,leaidC,leaidC,leaidC,leaidC
1,leaname,leaname,leaname,leaname,leaname,leaname
2,fips,fips,fips,fips,fips,fips
3,stateabb,stateabb,stateabb,stateabb,stateabb,stateabb
4,grade,grade,grade,grade,subgroup,subgroup
5,year,year,year,year,gap_est,gap_est
6,subject,subject,subject,subject,tot_asmts,tot_asmts_ela
7,totgyb_all,totgyb_all,mn_all,totgyb_all,cellcount,tot_asmts_mth
8,mn_all,mn_all,mn_asn,mn_all,mn_asmts,cellcount_ela
9,mn_all_se,mn_all_se,mn_blk,mn_all_se,mn_avg_ol,cellcount_mth
10,sd_all,sd_all,mn_fem,sd_all,mn_grd_ol,mn_asmts_ela
11,sd_all_se,sd_all_se,mn_hsp,sd_all_se,mn_mth_ol,mn_asmts_mth
12,totgyb_asn,totgyb_asn,mn_mal,totgyb_asn,mn_avg_eb,mn_avg_mth_ol
13,mn_asn,mn_asn,mn_wht,mn_asn,mn_grd_eb,mn_avg_ela_ol
14,mn_asn_se,mn_asn_se,mn_wag,mn_asn_se,mn_mth_eb,mn_grd_mth_ol
15,sd_asn,sd_asn,mn_wbg,sd_asn,mn_avg_eb_se,mn_grd_ela_ol
16,sd_asn_se,sd_asn_se,mn_whg,sd_asn_se,mn_grd_eb_se,mn_avg_mth_eb
17,totgyb_blk,totgyb_blk,mn_mfg,totgyb_blk,mn_mth_eb_se,mn_avg_ela_eb
18,mn_blk,mn_blk,NaN,mn_blk,mn_avg_ol_se,mn_grd_mth_eb
19,mn_blk_se,mn_blk_se,NaN,mn_blk_se,mn_grd_ol_se,mn_grd_ela_eb
20,sd_blk,sd_blk,NaN,sd_blk,mn_mth_ol_se,mn_avg_mth_eb_se
21,sd_blk_se,sd_blk_se,NaN,sd_blk_se,sd_avg_ol,mn_avg_ela_eb_se
22,totgyb_fem,totgyb_fem,NaN,totgyb_fem,sd_grd_ol,mn_grd_mth_eb_se
23,mn_fem,mn_fem,NaN,mn_fem,sd_mth_ol,mn_grd_ela_eb_se
24,mn_fem_se,mn_fem_se,NaN,mn_fem_se,sd_avg_eb,mn_avg_mth_ol_se
25,sd_fem,sd_fem,NaN,sd_fem,sd_grd_eb,mn_grd_mth_ol_se
26,sd_fem_se,sd_fem_se,NaN,sd_fem_se,sd_mth_eb,mn_avg_ela_ol_se
27,totgyb_hsp,totgyb_hsp,NaN,totgyb_hsp,sd_avg_eb_se,mn_grd_ela_ol_se
28,mn_hsp,mn_hsp,NaN,mn_hsp,sd_grd_eb_se,sd_avg_mth_ol
29,mn_hsp_se,mn_hsp_se,NaN,mn_hsp_se,sd_mth_eb_se,sd_avg_ela_ol
30,sd_hsp,sd_hsp,NaN,sd_hsp,sd_avg_ol_se,sd_grd_mth_ol
31,sd_hsp_se,sd_hsp_se,NaN,sd_hsp_se,sd_grd_ol_se,sd_grd_ela_ol
32,totgyb_mal,totgyb_mal,NaN,totgyb_mal,sd_mth_ol_se,sd_avg_mth_eb
33,mn_mal,mn_mal,NaN,mn_mal,NaN,sd_avg_ela_eb
34,mn_mal_se,mn_mal_se,NaN,mn_mal_se,NaN,sd_grd_mth_eb
35,sd_mal,sd_mal,NaN,sd_mal,NaN,sd_grd_ela_eb
36,sd_mal_se,sd_mal_se,NaN,sd_mal_se,NaN,sd_avg_mth_eb_se
37,totgyb_wht,totgyb_wht,NaN,totgyb_wht,NaN,sd_avg_ela_eb_se
38,mn_wht,mn_wht,NaN,mn_wht,NaN,sd_grd_mth_eb_se
39,mn_wht_se,mn_wht_se,NaN,mn_wht_se,NaN,sd_grd_ela_eb_se
40,sd_wht,sd_wht,NaN,sd_wht,NaN,sd_avg_mth_ol_se
41,sd_wht_se,sd_wht_se,NaN,sd_wht_se,NaN,sd_grd_mth_ol_se
42,mn_wag,mn_wag,NaN,mn_wag,NaN,sd_avg_ela_ol_se
43,mn_wag_se,mn_wag_se,NaN,mn_wag_se,NaN,sd_grd_ela_ol_se
44,mn_wbg,mn_wbg,NaN,mn_wbg,NaN,NaN
45,mn_wbg_se,mn_wbg_se,NaN,mn_wbg_se,NaN,NaN
46,mn_whg,mn_whg,NaN,mn_whg,NaN,NaN
47,mn_whg_se,mn_whg_se,NaN,mn_whg_se,NaN,NaN
48,mn_mfg,mn_mfg,NaN,mn_mfg,NaN,NaN
49,mn_mfg_se,mn_mfg_se,NaN,mn_mfg_se,NaN,NaN

# Off with their heads!

In [13]:
long_CS.head()

,leaidC,leaname,fips,stateabb,grade,year,subject,totgyb_all,mn_all,mn_all_se,sd_all,sd_all_se,totgyb_asn,mn_asn,mn_asn_se,sd_asn,sd_asn_se,totgyb_blk,mn_blk,mn_blk_se,sd_blk,sd_blk_se,totgyb_fem,mn_fem,mn_fem_se,sd_fem,sd_fem_se,totgyb_hsp,mn_hsp,mn_hsp_se,sd_hsp,sd_hsp_se,totgyb_mal,mn_mal,mn_mal_se,sd_mal,sd_mal_se,totgyb_wht,mn_wht,mn_wht_se,sd_wht,sd_wht_se,mn_wag,mn_wag_se,mn_wbg,mn_wbg_se,mn_whg,mn_whg_se,mn_mfg,mn_mfg_se
0,100002,Alabama Youth Services,1,AL,8,2009,ela,29.0,-1.569190,0.209354,0.931462,0.016600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,-1.631368,0.224605,0.948279,0.018422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100002,Alabama Youth Services,1,AL,8,2009,math,36.0,-1.761643,0.206164,0.892374,0.021631,NaN,NaN,NaN,NaN,NaN,20.0,-1.986859,0.284851,0.823336,0.022021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,-1.814169,0.223662,0.944506,0.024233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100002,Alabama Youth Services,1,AL,8,2011,ela,29.0,-0.962804,0.203069,0.905344,0.020444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,-0.990942,0.211828,0.912120,0.021901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100002,Alabama Youth Services,1,AL,8,2011,math,27.0,-1.641117,0.223450,0.857457,0.018269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,-1.583394,0.238398,0.908649,0.020670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100002,Alabama Youth Services,1,AL,8,2012,ela,33.0,-1.069076,0.190945,0.913058,0.014726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,-1.134681,0.190324,0.908174,0.016259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
long_gcs.head()

,leaidC,leaname,fips,stateabb,grade,year,subject,totgyb_all,mn_all,mn_all_se,sd_all,sd_all_se,totgyb_asn,mn_asn,mn_asn_se,sd_asn,sd_asn_se,totgyb_blk,mn_blk,mn_blk_se,sd_blk,sd_blk_se,totgyb_fem,mn_fem,mn_fem_se,sd_fem,sd_fem_se,totgyb_hsp,mn_hsp,mn_hsp_se,sd_hsp,sd_hsp_se,totgyb_mal,mn_mal,mn_mal_se,sd_mal,sd_mal_se,totgyb_wht,mn_wht,mn_wht_se,sd_wht,sd_wht_se,mn_wag,mn_wag_se,mn_wbg,mn_wbg_se,mn_whg,mn_whg_se,mn_mfg,mn_mfg_se
0,100002,Alabama Youth Services,1,AL,8,2009,ela,29.0,3.364652,0.618425,2.751515,0.049036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,3.180978,0.663477,2.801194,0.054420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100002,Alabama Youth Services,1,AL,8,2009,math,36.0,2.138392,0.685979,2.969243,0.071975,NaN,NaN,NaN,NaN,NaN,20.0,1.389016,0.947799,2.739531,0.073273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,1.963618,0.744201,3.142704,0.080630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100002,Alabama Youth Services,1,AL,8,2011,ela,29.0,5.155901,0.599859,2.674363,0.060393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,5.072781,0.625734,2.694380,0.064694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100002,Alabama Youth Services,1,AL,8,2011,math,27.0,2.539424,0.743498,2.853061,0.060789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,2.731487,0.793233,3.023397,0.068775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100002,Alabama Youth Services,1,AL,8,2012,ela,33.0,4.841975,0.564046,2.697150,0.043501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,4.648181,0.562213,2.682725,0.048029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
long_naep.head()

,leaidC,leaname,fips,stateabb,grade,year,subject,mn_all,mn_asn,mn_blk,mn_fem,mn_hsp,mn_mal,mn_wht,mn_wag,mn_wbg,mn_whg,mn_mfg
0,100002,Alabama Youth Services,1,AL,8,2009,ela,209.40759,NaN,NaN,NaN,NaN,207.21269,NaN,NaN,NaN,NaN,NaN
1,100002,Alabama Youth Services,1,AL,8,2009,math,217.34308,NaN,208.98753,NaN,NaN,215.39435,NaN,NaN,NaN,NaN,NaN
2,100002,Alabama Youth Services,1,AL,8,2011,ela,230.81302,NaN,NaN,NaN,NaN,229.81973,NaN,NaN,NaN,NaN,NaN
3,100002,Alabama Youth Services,1,AL,8,2011,math,221.81458,NaN,NaN,NaN,NaN,223.95609,NaN,NaN,NaN,NaN,NaN
4,100002,Alabama Youth Services,1,AL,8,2012,ela,227.06160,NaN,NaN,NaN,NaN,224.74576,NaN,NaN,NaN,NaN,NaN

In [16]:
long_state.head()

,leaidC,leaname,fips,stateabb,grade,year,subject,totgyb_all,mn_all,mn_all_se,sd_all,sd_all_se,totgyb_asn,mn_asn,mn_asn_se,sd_asn,sd_asn_se,totgyb_blk,mn_blk,mn_blk_se,sd_blk,sd_blk_se,totgyb_fem,mn_fem,mn_fem_se,sd_fem,sd_fem_se,totgyb_hsp,mn_hsp,mn_hsp_se,sd_hsp,sd_hsp_se,totgyb_mal,mn_mal,mn_mal_se,sd_mal,sd_mal_se,totgyb_wht,mn_wht,mn_wht_se,sd_wht,sd_wht_se,mn_wag,mn_wag_se,mn_wbg,mn_wbg_se,mn_whg,mn_whg_se,mn_mfg,mn_mfg_se
0,100002,Alabama Youth Services,1,AL,8,2009,ela,29.0,-1.168019,0.190559,0.920672,0.005181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,-1.225511,0.204771,0.935234,0.008267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100002,Alabama Youth Services,1,AL,8,2009,math,36.0,-1.282802,0.190213,0.887760,0.005257,NaN,NaN,NaN,NaN,NaN,20.0,-1.496076,0.265494,0.825772,0.00961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,-1.332543,0.207005,0.934875,0.009110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100002,Alabama Youth Services,1,AL,8,2011,ela,29.0,-0.708781,0.188333,0.920245,0.005173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,-0.735563,0.196830,0.926287,0.008442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100002,Alabama Youth Services,1,AL,8,2011,math,27.0,-1.233343,0.215231,0.885889,0.005659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,-1.176524,0.230360,0.934023,0.009104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100002,Alabama Youth Services,1,AL,8,2012,ela,33.0,-0.804737,0.179870,0.928212,0.005347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,-0.867299,0.179208,0.923844,0.008249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
pool_cs.head()

,leaidC,leaname,fips,stateabb,subgroup,gap_est,tot_asmts,cellcount,mn_asmts,mn_avg_ol,mn_grd_ol,mn_mth_ol,mn_avg_eb,mn_grd_eb,mn_mth_eb,mn_avg_eb_se,mn_grd_eb_se,mn_mth_eb_se,mn_avg_ol_se,mn_grd_ol_se,mn_mth_ol_se,sd_avg_ol,sd_grd_ol,sd_mth_ol,sd_avg_eb,sd_grd_eb,sd_mth_eb,sd_avg_eb_se,sd_grd_eb_se,sd_mth_eb_se,sd_avg_ol_se,sd_grd_ol_se,sd_mth_ol_se
0,100002,Alabama Youth Services,1,AL,all,0,185,6,30.833334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100002,Alabama Youth Services,1,AL,blk,0,20,1,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100002,Alabama Youth Services,1,AL,mal,0,176,6,29.333334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100005,Albertville City,1,AL,all,0,26185,82,319.329250,-0.280656,-0.061207,-0.116414,-0.280273,-0.058287,-0.112834,0.014924,0.011383,0.029116,0.014940,0.011783,0.029962,0.845352,-0.010274,-0.019646,0.845379,-0.008705,-0.021662,0.007639,0.005382,0.014190,0.007737,0.006004,0.015404
4,100005,Albertville City,1,AL,fem,0,11421,69,165.521740,-0.225336,-0.040484,-0.190132,-0.225179,-0.037043,-0.187486,0.016971,0.012768,0.032495,0.017021,0.013442,0.033580,0.768277,NaN,-0.020952,0.772706,NaN,-0.026816,0.010658,NaN,0.017749,0.011180,NaN,0.021319

In [18]:
poolsub_cs.head()

,leaidC,leaname,fips,stateabb,subgroup,gap_est,tot_asmts_ela,tot_asmts_mth,cellcount_ela,cellcount_mth,mn_asmts_ela,mn_asmts_mth,mn_avg_mth_ol,mn_avg_ela_ol,mn_grd_mth_ol,mn_grd_ela_ol,mn_avg_mth_eb,mn_avg_ela_eb,mn_grd_mth_eb,mn_grd_ela_eb,mn_avg_mth_eb_se,mn_avg_ela_eb_se,mn_grd_mth_eb_se,mn_grd_ela_eb_se,mn_avg_mth_ol_se,mn_grd_mth_ol_se,mn_avg_ela_ol_se,mn_grd_ela_ol_se,sd_avg_mth_ol,sd_avg_ela_ol,sd_grd_mth_ol,sd_grd_ela_ol,sd_avg_mth_eb,sd_avg_ela_eb,sd_grd_mth_eb,sd_grd_ela_eb,sd_avg_mth_eb_se,sd_avg_ela_eb_se,sd_grd_mth_eb_se,sd_grd_ela_eb_se,sd_avg_mth_ol_se,sd_grd_mth_ol_se,sd_avg_ela_ol_se,sd_grd_ela_ol_se
0,100002,Alabama Youth Services,1,AL,all,0,91.0,94.0,3.0,3.0,30.333334,31.333334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100002,Alabama Youth Services,1,AL,blk,0,NaN,20.0,NaN,1.0,NaN,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100002,Alabama Youth Services,1,AL,mal,0,86.0,90.0,3.0,3.0,28.666666,30.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100005,Albertville City,1,AL,all,0,12754.0,13431.0,40.0,42.0,318.850010,319.785710,-0.339745,-0.222717,-0.060150,-0.061749,-0.337170,-0.223722,-0.061004,-0.054038,0.020049,0.020477,0.014545,0.014061,0.020326,0.015804,0.020785,0.016567,0.846394,0.858098,-0.030082,NaN,0.842975,0.858925,-0.021912,NaN,0.010473,0.010814,0.00755,NaN,0.010886,0.008622,0.011319,NaN
4,100005,Albertville City,1,AL,fem,0,5621.0,5800.0,34.0,35.0,165.323530,165.714280,-0.323230,-0.129925,-0.032657,-0.048354,-0.319693,-0.132169,-0.036577,-0.034901,0.022668,0.023309,0.016292,0.015155,0.023162,0.018212,0.023779,0.018764,0.770740,0.775054,NaN,NaN,0.764392,0.785076,NaN,NaN,0.013753,0.014301,NaN,NaN,0.015154,NaN,0.016037,NaN

# Describe the datasets

In [19]:
desc_long_CS= long_CS.describe()
desc_long_gcs= long_gcs.describe()
desc_long_naep= long_naep.describe()
desc_long_state= long_state.describe()
desc_pool_cs= pool_cs.describe()
desc_poolsub_cs= poolsub_cs.describe()

In [20]:
desc_long_CS

,leaidC,fips,grade,year,totgyb_all,mn_all,mn_all_se,sd_all,sd_all_se,totgyb_asn,mn_asn,mn_asn_se,sd_asn,sd_asn_se,totgyb_blk,mn_blk,mn_blk_se,sd_blk,sd_blk_se,totgyb_fem,mn_fem,mn_fem_se,sd_fem,sd_fem_se,totgyb_hsp,mn_hsp,mn_hsp_se,sd_hsp,sd_hsp_se,totgyb_mal,mn_mal,mn_mal_se,sd_mal,sd_mal_se,totgyb_wht,mn_wht,mn_wht_se,sd_wht,sd_wht_se,mn_wag,mn_wag_se,mn_wbg,mn_wbg_se,mn_whg,mn_whg_se,mn_mfg,mn_mfg_se
count,8.258160e+05,825816.000000,825816.000000,825816.000000,825814.000000,825814.000000,825814.000000,825814.000000,825814.000000,85523.000000,85523.000000,85523.000000,85523.000000,85523.000000,183171.000000,183171.000000,183171.000000,183171.000000,183171.000000,684574.000000,684574.000000,684574.000000,684574.000000,684574.000000,222124.000000,222124.000000,222124.000000,222124.000000,222124.000000,695482.000000,695482.000000,695482.000000,695481.000000,695481.000000,733460.000000,733460.000000,733460.000000,733460.000000,733460.000000,84024.000000,84024.000000,164413.000000,164413.000000,196243.000000,196243.000000,658277.000000,658277.000000
mean,3.003463e+06,29.903256,5.439089,2011.844344,328.138101,0.045220,0.112220,0.876175,0.069390,122.689382,0.608329,0.190778,0.987328,0.084771,224.051460,-0.438864,0.132186,0.849140,0.065292,188.532721,0.120130,0.130864,0.855555,0.067869,252.636262,-0.278085,0.135376,0.860349,0.060350,194.725526,-0.005284,0.133679,0.899035,0.070950,187.101831,0.175584,0.122449,0.865864,0.072814,-0.220768,0.208535,0.597313,0.167170,0.461360,0.171250,-0.123905,0.182086
std,1.457768e+06,14.573536,1.694571,1.959203,1166.280140,0.400055,0.054619,0.121183,0.044821,483.938421,0.556105,0.085566,0.158555,0.077507,719.344149,0.326138,0.058851,0.110419,0.049079,621.838991,0.403455,0.055945,0.115374,0.049798,1028.612933,0.337970,0.061169,0.104867,0.047106,641.398663,0.420003,0.057255,0.124602,0.051434,343.758678,0.352210,0.054043,0.121514,0.048231,0.413746,0.086235,0.283890,0.063211,0.288484,0.064866,0.245448,0.074982
min,1.000020e+05,1.000000,3.000000,2009.000000,20.000000,-3.186861,0.010884,0.042187,0.007450,20.000000,-3.400659,0.015841,0.177361,0.011620,20.000000,-2.802191,0.015411,0.103305,0.009407,20.000000,-2.405667,0.014748,0.105092,0.007860,20.000000,-3.614296,0.015033,0.108809,0.008441,20.000000,-3.402114,0.014828,0.097344,0.008406,20.000000,-2.311475,0.017821,0.073921,0.007754,-3.534657,0.027087,-0.732104,0.024387,-1.300542,0.024097,-3.015474,0.020913
25%,1.809690e+06,18.000000,4.000000,2010.000000,55.000000,-0.205949,0.070441,0.807569,0.029866,29.000000,0.254931,0.131710,0.904609,0.029321,36.000000,-0.654225,0.083788,0.791534,0.021645,39.000000,-0.140214,0.087132,0.796186,0.018935,33.000000,-0.501679,0.084061,0.805260,0.020596,40.000000,-0.272802,0.088646,0.831936,0.020037,48.000000,-0.055318,0.080488,0.797136,0.024112,-0.469659,0.150712,0.414415,0.118164,0.272639,0.120955,-0.275129,0.123825
50%,2.930660e+06,29.000000,5.000000,2012.000000,119.000000,0.049993,0.099618,0.873354,0.066962,47.000000,0.610957,0.190276,0.975054,0.053963,72.000000,-0.444535,0.125113,0.844292,0.057352,74.000000,0.121420,0.122946,0.850554,0.065888,66.000000,-0.287218,0.131419,0.856493,0.044913,77.000000,-0.002623,0.124653,0.894642,0.069282,94.000000,0.167672,0.111236,0.860279,0.071799,-0.234257,0.206814,0.582891,0.166099,0.445352,0.170093,-0.120150,0.172847
75%,4.106300e+06,41.000000,7.000000,2013.000000,277.000000,0.300706,0.149012,0.940343,0.097356,97.000000,0.965965,0.235567,1.049185,0.121298,170.000000,-0.225432,0.177508,0.906163,0.096868,159.000000,0.379138,0.171063,0.911051,0.101516,177.000000,-0.059856,0.183575,0.912377,0.092593,165.000000,0.264134,0.175480,0.958037,0.105297,198.000000,0.400014,0.160010,0.926429,0.102897,0.010506,0.251811,0.762919,0.212231,0.636042,0.216630,0.031581,0.237248
max,5.606240e+06,56.000000,8.000000,2015.000000,76800.000000,3.804560,1.841295,4.186017,1.416418,12214.000000,4.290233,2.123441,3.989972,1.861681,22678.000000,1.476525,1.171951,2.570137,1.111087,37799.000000,3.931363,1.691966,3.085215,1.206432,38791.000000,2.637444,1.112494,3.984328,1.169694,39001.000000,3.008096,1.630688,5.264157,1.747604,11961.000000,3.893091,2.029929,3.830692,1.672288,3.670907,2.130670,3.913644,1.320550,4.076381,1.328091,1.739556,1.715452

In [21]:
desc_long_gcs

,leaidC,fips,grade,year,totgyb_all,mn_all,mn_all_se,sd_all,sd_all_se,totgyb_asn,mn_asn,mn_asn_se,sd_asn,sd_asn_se,totgyb_blk,mn_blk,mn_blk_se,sd_blk,sd_blk_se,totgyb_fem,mn_fem,mn_fem_se,sd_fem,sd_fem_se,totgyb_hsp,mn_hsp,mn_hsp_se,sd_hsp,sd_hsp_se,totgyb_mal,mn_mal,mn_mal_se,sd_mal,sd_mal_se,totgyb_wht,mn_wht,mn_wht_se,sd_wht,sd_wht_se,mn_wag,mn_wag_se,mn_wbg,mn_wbg_se,mn_whg,mn_whg_se,mn_mfg,mn_mfg_se
count,8.258160e+05,825816.000000,825816.000000,825816.000000,825814.000000,825814.000000,825814.000000,825814.000000,825814.000000,85523.000000,85523.000000,85523.000000,85523.000000,85523.000000,183171.000000,183171.000000,183171.000000,183171.000000,183171.000000,684574.000000,684574.000000,684574.000000,684574.000000,684574.000000,222124.000000,222124.000000,222124.000000,222124.000000,222124.000000,695482.000000,695482.000000,695482.000000,695481.000000,695481.000000,733460.000000,733460.000000,733460.000000,733460.000000,733460.000000,84024.000000,84024.000000,164413.000000,164413.000000,196243.000000,196243.000000,658277.000000,658277.000000
mean,3.003463e+06,29.903256,5.439089,2011.844344,328.138101,5.565391,0.336394,2.628670,0.208084,122.689382,7.200015,0.569769,2.953043,0.252941,224.051460,4.132336,0.396487,2.546893,0.195934,188.532721,5.806853,0.392497,2.566808,0.203577,252.636262,4.514001,0.405153,2.573891,0.180558,194.725526,5.415384,0.400722,2.696429,0.212663,187.101831,5.971452,0.367094,2.598756,0.218360,-0.653809,0.622840,1.789347,0.501186,1.383374,0.512351,-0.385084,0.545958
std,1.457768e+06,14.573536,1.694571,1.959203,1166.280140,1.988355,0.165724,0.413478,0.135414,483.938421,2.442277,0.256700,0.515028,0.231137,719.344149,1.788857,0.179498,0.376843,0.148733,621.838991,2.037545,0.170557,0.394003,0.150433,1028.612933,1.878731,0.186536,0.367392,0.142266,641.398663,1.994379,0.174010,0.419559,0.154989,343.758678,1.905880,0.164000,0.413967,0.145419,1.241652,0.258649,0.860145,0.192970,0.877132,0.198207,0.740737,0.228411
min,1.000020e+05,1.000000,3.000000,2009.000000,20.000000,-4.601914,0.032604,0.140370,0.022315,20.000000,-5.865470,0.047452,0.523919,0.034808,20.000000,-3.348936,0.046091,0.276098,0.028026,20.000000,-3.786019,0.043832,0.318354,0.023545,20.000000,-3.048122,0.044814,0.321419,0.025284,20.000000,-4.673600,0.043947,0.294883,0.025072,20.000000,-3.243976,0.053382,0.245961,0.023228,-11.761054,0.078691,-2.162617,0.070795,-3.671333,0.069971,-8.907637,0.062069
25%,1.809690e+06,18.000000,4.000000,2010.000000,55.000000,4.086436,0.209938,2.364256,0.090063,29.000000,5.448634,0.393414,2.646907,0.087202,36.000000,2.760144,0.249794,2.312592,0.064641,39.000000,4.270745,0.259561,2.319130,0.056467,33.000000,3.088435,0.248924,2.350105,0.061159,40.000000,3.957895,0.264208,2.435359,0.059684,48.000000,4.511420,0.239968,2.335383,0.071795,-1.395188,0.449245,1.235966,0.352166,0.806862,0.359143,-0.841739,0.368993
50%,2.930660e+06,29.000000,5.000000,2012.000000,119.000000,5.516290,0.297787,2.632125,0.199901,47.000000,7.109251,0.566381,2.931653,0.161543,72.000000,4.094108,0.374391,2.548520,0.170269,74.000000,5.754171,0.369074,2.568287,0.196127,66.000000,4.460996,0.392104,2.581771,0.133317,77.000000,5.363899,0.374164,2.693530,0.206431,94.000000,5.926429,0.333248,2.597690,0.214290,-0.696619,0.616030,1.737742,0.494397,1.324775,0.505646,-0.362059,0.517464
75%,4.106300e+06,41.000000,7.000000,2013.000000,277.000000,7.023564,0.442947,2.871308,0.291724,97.000000,8.867107,0.704836,3.185928,0.362594,170.000000,5.464153,0.531483,2.761659,0.290041,159.000000,7.313653,0.512901,2.786792,0.304254,177.000000,5.917508,0.547441,2.782139,0.275318,165.000000,6.843756,0.525802,2.932164,0.315603,198.000000,7.388032,0.478172,2.832368,0.308645,0.031616,0.754158,2.286665,0.635476,1.909192,0.646582,0.092029,0.709931
max,5.606240e+06,56.000000,8.000000,2015.000000,76800.000000,16.319139,5.515627,12.365393,3.984298,12214.000000,22.275122,6.696728,13.276047,6.194471,22678.000000,12.196367,3.712929,7.592120,3.328277,37799.000000,19.613150,5.161969,9.241808,3.822171,38791.000000,14.036805,3.430580,11.769607,3.455248,39001.000000,16.457911,5.425874,15.550191,5.162379,11961.000000,16.436026,5.425280,12.746066,5.564293,11.477346,6.706546,12.346813,4.165020,12.860217,4.189879,5.253738,5.476070

In [22]:
desc_long_naep

,leaidC,fips,grade,year,mn_all,mn_asn,mn_blk,mn_fem,mn_hsp,mn_mal,mn_wht,mn_wag,mn_wbg,mn_whg,mn_mfg
count,8.258160e+05,825816.000000,825816.000000,825816.000000,825814.000000,85523.000000,183171.000000,684574.000000,222124.000000,695482.000000,733460.000000,84024.000000,164413.000000,196243.000000,658277.000000
mean,3.003463e+06,29.903256,5.439089,2011.844344,245.368960,264.213928,228.758834,248.236700,233.040101,243.568544,250.108341,-7.432532,20.692708,16.047852,-4.591977
std,1.457768e+06,14.573536,1.694571,1.959203,24.817281,30.265167,22.675072,24.501244,24.205590,25.659113,23.724225,14.264807,9.994392,10.275893,8.664576
min,1.000020e+05,1.000000,3.000000,2009.000000,114.207150,99.107666,129.180240,123.957090,132.774960,113.350510,130.434510,-131.135770,-25.843262,-43.132675,-106.446230
25%,1.809690e+06,18.000000,4.000000,2010.000000,228.196378,243.636095,213.230470,230.850810,216.558828,226.164378,233.195263,-16.002594,14.246857,9.267326,-9.915894
50%,2.930660e+06,29.000000,5.000000,2012.000000,245.202560,263.100400,229.219020,247.870575,233.525605,243.450965,249.758835,-8.062675,20.054749,15.276093,-4.178528
75%,4.106300e+06,41.000000,7.000000,2013.000000,262.570257,283.998410,244.799475,265.586045,249.974620,260.939640,266.682310,0.369026,26.478058,22.158958,1.042725
max,5.606240e+06,56.000000,8.000000,2015.000000,375.458440,441.867650,314.946560,403.577090,336.939790,377.005740,376.761720,137.154270,147.544370,153.679550,58.579193

In [23]:
desc_long_state

,leaidC,fips,grade,year,totgyb_all,mn_all,mn_all_se,sd_all,sd_all_se,totgyb_asn,mn_asn,mn_asn_se,sd_asn,sd_asn_se,totgyb_blk,mn_blk,mn_blk_se,sd_blk,sd_blk_se,totgyb_fem,mn_fem,mn_fem_se,sd_fem,sd_fem_se,totgyb_hsp,mn_hsp,mn_hsp_se,sd_hsp,sd_hsp_se,totgyb_mal,mn_mal,mn_mal_se,sd_mal,sd_mal_se,totgyb_wht,mn_wht,mn_wht_se,sd_wht,sd_wht_se,mn_wag,mn_wag_se,mn_wbg,mn_wbg_se,mn_whg,mn_whg_se,mn_mfg,mn_mfg_se
count,8.258160e+05,825816.000000,825816.000000,825816.000000,825814.000000,825814.000000,825814.000000,825814.000000,825814.000000,85523.000000,85523.000000,85523.000000,85523.000000,85523.000000,183171.000000,183171.000000,183171.000000,183171.000000,183171.000000,684574.000000,684574.000000,684574.000000,684574.000000,684574.000000,222124.000000,222124.000000,222124.000000,222124.000000,222124.000000,695482.000000,695482.000000,695482.000000,695482.000000,695482.000000,733460.000000,733460.000000,733460.000000,733460.000000,733460.000000,84024.000000,84024.000000,164413.000000,164413.000000,196243.000000,196243.000000,658277.000000,658277.000000
mean,3.003463e+06,29.903256,5.439089,2011.844344,328.138101,0.002542,0.104061,0.903563,0.058912,122.689382,0.546172,0.179057,0.991131,0.073129,224.051460,-0.416928,0.122927,0.876999,0.054904,188.532721,0.074448,0.122631,0.884136,0.056920,252.636262,-0.269196,0.125265,0.878575,0.049756,194.725526,-0.046064,0.125405,0.923253,0.059939,187.101831,0.117388,0.114588,0.894707,0.062217,-0.211242,0.193768,0.574956,0.154768,0.440274,0.157980,-0.118976,0.170432
std,1.457768e+06,14.573536,1.694571,1.959203,1166.280140,0.340808,0.055142,0.104510,0.043337,483.938421,0.514938,0.082941,0.143650,0.072831,719.344149,0.293577,0.058248,0.095191,0.046300,621.838991,0.346849,0.055918,0.100978,0.047837,1028.612933,0.304211,0.061306,0.090309,0.044634,641.398663,0.358379,0.057043,0.105764,0.049724,343.758678,0.313677,0.053895,0.105318,0.046292,0.395980,0.083765,0.272143,0.062653,0.273554,0.064661,0.236719,0.074936
min,1.000020e+05,1.000000,3.000000,2009.000000,20.000000,-2.972786,0.000000,0.251772,0.000000,20.000000,-3.424887,0.009375,0.296857,0.000000,20.000000,-2.543317,0.006473,0.273550,0.000000,20.000000,-2.267843,0.005450,0.241442,0.000000,20.000000,-2.865522,0.004735,0.260732,0.000000,20.000000,-2.996269,0.005589,0.271963,0.000000,20.000000,-2.067944,0.009274,0.234255,0.000931,-3.296746,0.013204,-0.725045,0.011832,-1.232592,0.010999,-2.865083,0.007852
25%,1.809690e+06,18.000000,4.000000,2010.000000,55.000000,-0.207796,0.062064,0.849491,0.021279,29.000000,0.231252,0.121399,0.918437,0.020539,36.000000,-0.605537,0.075641,0.828387,0.011884,39.000000,-0.146036,0.079300,0.834420,0.007461,33.000000,-0.462688,0.074431,0.834968,0.011567,40.000000,-0.271505,0.080938,0.874693,0.007964,48.000000,-0.087016,0.072802,0.840141,0.012467,-0.449114,0.136788,0.399927,0.106693,0.261600,0.108277,-0.264603,0.112766
50%,2.930660e+06,29.000000,5.000000,2012.000000,119.000000,0.001459,0.092435,0.901879,0.058466,47.000000,0.555609,0.179640,0.971996,0.046141,72.000000,-0.421108,0.116818,0.875378,0.049883,74.000000,0.072006,0.115517,0.881488,0.057254,66.000000,-0.271911,0.122768,0.877271,0.036715,77.000000,-0.048812,0.117158,0.918794,0.060546,94.000000,0.107434,0.104059,0.890530,0.062912,-0.223538,0.193591,0.561625,0.154936,0.426218,0.158134,-0.115990,0.162392
75%,4.106300e+06,41.000000,7.000000,2013.000000,277.000000,0.212722,0.142700,0.954235,0.086205,97.000000,0.874363,0.223434,1.045130,0.107019,170.000000,-0.230172,0.168060,0.921897,0.085082,159.000000,0.292048,0.163121,0.929520,0.089491,177.000000,-0.077905,0.173768,0.917956,0.080894,165.000000,0.177485,0.167477,0.968540,0.093492,198.000000,0.312981,0.152790,0.942207,0.091296,0.009888,0.237183,0.734980,0.199944,0.606908,0.203931,0.030581,0.226233
max,5.606240e+06,56.000000,8.000000,2015.000000,76800.000000,3.656457,1.760634,3.719599,1.343618,12214.000000,4.114595,1.951427,3.776745,1.751017,22678.000000,1.738854,1.169030,2.518226,1.123573,37799.000000,3.609545,1.605439,3.055364,1.159092,38791.000000,2.595148,1.048159,3.541179,1.032290,39001.000000,2.769604,1.614429,4.673878,1.544591,11961.000000,3.768618,1.937438,3.484186,1.510977,3.608001,1.957712,3.787224,1.280200,3.944704,1.283340,1.713544,1.628925

In [24]:
desc_pool_cs

,leaidC,fips,gap_est,tot_asmts,cellcount,mn_asmts,mn_avg_ol,mn_grd_ol,mn_mth_ol,mn_avg_eb,mn_grd_eb,mn_mth_eb,mn_avg_eb_se,mn_grd_eb_se,mn_mth_eb_se,mn_avg_ol_se,mn_grd_ol_se,mn_mth_ol_se,sd_avg_ol,sd_grd_ol,sd_mth_ol,sd_avg_eb,sd_grd_eb,sd_mth_eb,sd_avg_eb_se,sd_grd_eb_se,sd_mth_eb_se,sd_avg_ol_se,sd_grd_ol_se,sd_mth_ol_se
count,7.214700e+04,72147.000000,72147.000000,7.214700e+04,72147.000000,72147.000000,67235.000000,49956.000000,60872.000000,67242.000000,49956.000000,60872.000000,67242.000000,49956.000000,60872.000000,67235.000000,49956.000000,60872.000000,50458.000000,37565.000000,46960.000000,50458.000000,37565.000000,46960.000000,50458.000000,37565.000000,46960.000000,50458.000000,37565.000000,46960.000000
mean,2.932015e+06,29.187506,0.257585,1.866353e+04,62.831511,269.174043,0.049678,-0.006932,0.017771,0.049536,-0.006929,0.017796,0.025079,0.014581,0.037474,0.028555,0.016093,0.041431,0.865058,-0.003462,-0.019809,0.864829,-0.003512,-0.020047,0.007739,0.004317,0.012381,0.008350,0.004867,0.013663
std,1.520158e+06,15.201987,0.437307,6.298952e+04,24.394492,907.378454,0.369447,0.046488,0.167213,0.364393,0.040103,0.156233,0.014751,0.003376,0.009806,0.025651,0.004545,0.013068,0.063459,0.013257,0.044403,0.061278,0.010821,0.038944,0.003717,0.001422,0.004771,0.004879,0.001889,0.005992
min,1.000020e+05,1.000000,0.000000,2.000000e+01,1.000000,20.000000,-1.841032,-0.389979,-0.749475,-1.690200,-0.279810,-0.679975,0.004379,0.004757,0.008545,0.004398,0.004841,0.008633,0.625352,-0.095699,-0.222643,0.636588,-0.079389,-0.168573,0.002448,0.001912,0.004819,0.002450,0.001940,0.004869
25%,1.734045e+06,17.000000,0.000000,2.408000e+03,56.000000,41.000000,-0.172902,-0.035998,-0.100292,-0.168033,-0.032037,-0.093153,0.016375,0.011994,0.030515,0.016478,0.012583,0.031945,0.825000,-0.011145,-0.051629,0.825744,-0.010255,-0.048239,0.004447,0.002956,0.007802,0.004493,0.003076,0.008000
50%,2.926850e+06,29.000000,0.000000,6.301000e+03,72.000000,92.738098,0.007239,-0.006866,0.013402,0.003202,-0.006770,0.011162,0.020405,0.013999,0.035813,0.020713,0.015057,0.038357,0.857771,-0.004035,-0.022158,0.857518,-0.004011,-0.022548,0.007283,0.004331,0.012205,0.007502,0.004711,0.012977
75%,4.108770e+06,41.000000,1.000000,1.622100e+04,82.000000,235.928570,0.281770,0.022449,0.142542,0.280777,0.018468,0.138895,0.027379,0.016665,0.043077,0.028598,0.018717,0.048406,0.897884,0.004283,0.008066,0.896905,0.003049,0.004354,0.010421,0.005605,0.016512,0.010947,0.006528,0.018622
max,5.606240e+06,56.000000,1.000000,4.685211e+06,84.000000,70988.047000,1.907693,0.337531,0.839080,1.755396,0.226243,0.745145,0.131102,0.024750,0.071296,0.225080,0.029539,0.082737,1.546541,0.076853,0.260459,1.497011,0.055841,0.215035,0.026108,0.007466,0.022549,0.039520,0.008347,0.026024

In [25]:
desc_poolsub_cs

,leaidC,fips,gap_est,tot_asmts_ela,tot_asmts_mth,cellcount_ela,cellcount_mth,mn_asmts_ela,mn_asmts_mth,mn_avg_mth_ol,mn_avg_ela_ol,mn_grd_mth_ol,mn_grd_ela_ol,mn_avg_mth_eb,mn_avg_ela_eb,mn_grd_mth_eb,mn_grd_ela_eb,mn_avg_mth_eb_se,mn_avg_ela_eb_se,mn_grd_mth_eb_se,mn_grd_ela_eb_se,mn_avg_mth_ol_se,mn_grd_mth_ol_se,mn_avg_ela_ol_se,mn_grd_ela_ol_se,sd_avg_mth_ol,sd_avg_ela_ol,sd_grd_mth_ol,sd_grd_ela_ol,sd_avg_mth_eb,sd_avg_ela_eb,sd_grd_mth_eb,sd_grd_ela_eb,sd_avg_mth_eb_se,sd_avg_ela_eb_se,sd_grd_mth_eb_se,sd_grd_ela_eb_se,sd_avg_mth_ol_se,sd_grd_mth_ol_se,sd_avg_ela_ol_se,sd_grd_ela_ol_se
count,7.214700e+04,72147.000000,72147.000000,7.204200e+04,7.184800e+04,72042.000000,71848.000000,72042.000000,71848.000000,66342.000000,66431.000000,46268.000000,39706.000000,66540.000000,66586.000000,46585.000000,39929.000000,66540.000000,66586.000000,46585.000000,39929.000000,66342.000000,46268.000000,66431.000000,39706.000000,42231.000000,41842.000000,9987.000000,5949.000000,42295.000000,41912.000000,9994.000000,5957.000000,42295.000000,41912.000000,9994.000000,5957.000000,42231.000000,9987.000000,41842.000000,5949.000000
mean,2.932015e+06,29.187506,0.257585,9.754440e+03,8.960421e+03,32.374879,30.630693,269.390770,269.704605,0.059146,0.041812,-0.008441,-0.005112,0.058966,0.041122,-0.008556,-0.005266,0.032353,0.031137,0.018063,0.015136,0.039907,0.021972,0.037100,0.019291,0.847114,0.869128,-0.003540,-0.001453,0.847017,0.867190,-0.003825,-0.001660,0.017525,0.016753,0.007238,0.005790,0.020586,0.008425,0.019770,0.006931
std,1.520158e+06,15.201987,0.437307,3.322655e+04,3.008000e+04,12.340548,12.272864,906.428482,910.487181,0.379982,0.377123,0.056426,0.043583,0.372265,0.370975,0.047500,0.035819,0.015806,0.014853,0.003873,0.002451,0.032141,0.005625,0.027989,0.003784,0.077314,0.068436,0.020591,0.016235,0.072864,0.063948,0.016952,0.013096,0.006170,0.005743,0.001142,0.000812,0.008737,0.001581,0.008080,0.001148
min,1.000020e+05,1.000000,0.000000,2.000000e+01,2.000000e+01,1.000000,1.000000,20.000000,20.000000,-1.855213,-5.159541,-0.350875,-0.324992,-1.676959,-1.851148,-0.314171,-0.253082,0.005857,0.005965,0.004775,0.005118,0.006052,0.006359,0.006054,0.006579,0.581514,0.619851,-0.123878,-0.093235,0.603128,0.629000,-0.102827,-0.070709,0.003719,0.003836,0.003141,0.003065,0.003735,0.003213,0.003861,0.003183
25%,1.734045e+06,17.000000,0.000000,1.243000e+03,1.173000e+03,29.000000,25.000000,41.000000,41.151516,-0.159971,-0.224729,-0.044345,-0.032920,-0.150619,-0.224407,-0.038295,-0.027976,0.022331,0.021663,0.015292,0.013484,0.023087,0.017610,0.022285,0.016276,0.797970,0.826666,-0.016419,-0.012519,0.800942,0.827259,-0.014827,-0.010598,0.012843,0.012392,0.006516,0.005256,0.013801,0.007312,0.013340,0.006095
50%,2.926850e+06,29.000000,0.000000,3.245000e+03,3.061000e+03,36.000000,35.000000,92.857140,93.047623,0.033562,0.014001,-0.008844,-0.004648,0.028197,0.012438,-0.008429,-0.005061,0.027569,0.026806,0.017619,0.015060,0.029216,0.020903,0.028245,0.018917,0.839369,0.866312,-0.003003,-0.001746,0.838534,0.862899,-0.003446,-0.002106,0.016881,0.016394,0.007442,0.005896,0.018949,0.008669,0.018577,0.007095
75%,4.108770e+06,41.000000,1.000000,8.347000e+03,7.846250e+03,42.000000,41.000000,236.472923,236.694332,0.288862,0.286326,0.026452,0.023193,0.283986,0.285372,0.020850,0.018064,0.036257,0.034893,0.020716,0.016877,0.041123,0.025632,0.038840,0.022212,0.888221,0.905930,0.010256,0.009464,0.885658,0.900190,0.007570,0.007158,0.021863,0.020956,0.008134,0.006374,0.026312,0.009762,0.025607,0.007908
max,5.606240e+06,56.000000,1.000000,2.331930e+06,2.353281e+06,42.000000,42.000000,70664.547000,71311.547000,1.968772,2.159821,0.312431,0.195485,1.948141,1.905320,0.225116,0.145515,0.134209,0.129593,0.028179,0.041197,0.235657,0.036310,0.221998,0.027010,1.499948,1.448203,0.110439,0.061084,1.500400,1.260458,0.086265,0.049524,0.065063,0.066536,0.019595,0.015689,0.043734,0.010723,0.039204,0.008605

# Trying to make sense of the data

## NAEP

In [26]:
desc_long_naep

,leaidC,fips,grade,year,mn_all,mn_asn,mn_blk,mn_fem,mn_hsp,mn_mal,mn_wht,mn_wag,mn_wbg,mn_whg,mn_mfg
count,8.258160e+05,825816.000000,825816.000000,825816.000000,825814.000000,85523.000000,183171.000000,684574.000000,222124.000000,695482.000000,733460.000000,84024.000000,164413.000000,196243.000000,658277.000000
mean,3.003463e+06,29.903256,5.439089,2011.844344,245.368960,264.213928,228.758834,248.236700,233.040101,243.568544,250.108341,-7.432532,20.692708,16.047852,-4.591977
std,1.457768e+06,14.573536,1.694571,1.959203,24.817281,30.265167,22.675072,24.501244,24.205590,25.659113,23.724225,14.264807,9.994392,10.275893,8.664576
min,1.000020e+05,1.000000,3.000000,2009.000000,114.207150,99.107666,129.180240,123.957090,132.774960,113.350510,130.434510,-131.135770,-25.843262,-43.132675,-106.446230
25%,1.809690e+06,18.000000,4.000000,2010.000000,228.196378,243.636095,213.230470,230.850810,216.558828,226.164378,233.195263,-16.002594,14.246857,9.267326,-9.915894
50%,2.930660e+06,29.000000,5.000000,2012.000000,245.202560,263.100400,229.219020,247.870575,233.525605,243.450965,249.758835,-8.062675,20.054749,15.276093,-4.178528
75%,4.106300e+06,41.000000,7.000000,2013.000000,262.570257,283.998410,244.799475,265.586045,249.974620,260.939640,266.682310,0.369026,26.478058,22.158958,1.042725
max,5.606240e+06,56.000000,8.000000,2015.000000,375.458440,441.867650,314.946560,403.577090,336.939790,377.005740,376.761720,137.154270,147.544370,153.679550,58.579193

The NAEP score is derived from the [National Assessment of Educational Progress](https://nces.ed.gov/nationsreportcard/ "NAEP Nations Report Card"). The test is on a 0-500 scale, which we can see reflected in the means of all the schools *(mn_all)*.

In [27]:
print(f'Minimum AVERAGE score for all schools: {desc_long_naep.loc["min","mn_all"]}')
print(f'Maximum AVERAGE score for all schools: {desc_long_naep.loc["max","mn_all"]}')

Minimum AVERAGE score for all schools: 114.20715
Maximum AVERAGE score for all schools: 375.45844

The above shows that the AVERAGE maximum score for any school is 375.5. This isn't to say that the highest score that a student received on the test is that number. Rather, that school could've had someone score the full 500 and another student who scored in the double digits. This is important to keep in mind while parsing through the data.

The other measures use various statistical techniques (HETOP and HOMOP, for example) to derive their normalized values, which I did not want to dig much deeper into. I believe using the NAEP score should be sufficient for the purposes of this data analysis.

Another interesting story comes from the "gaps" (disparity in average scores between sub-groups within a year/class/subject)

In [28]:
# Columns which contain values for the gaps between scores of:
# White v Asian students
#       v Black students
#       v Hispanic students
# Male v Female students

gap_cols= ["mn_wag","mn_wbg","mn_whg","mn_mfg"]

desc_long_naep.loc[:,gap_cols]

             mn_wag         mn_wbg         mn_whg         mn_mfg
count  84024.000000  164413.000000  196243.000000  658277.000000
mean      -7.432532      20.692708      16.047852      -4.591977
std       14.264807       9.994392      10.275893       8.664576
min     -131.135770     -25.843262     -43.132675    -106.446230
25%      -16.002594      14.246857       9.267326      -9.915894
50%       -8.062675      20.054749      15.276093      -4.178528
75%        0.369026      26.478058      22.158958       1.042725
max      137.154270     147.544370     153.679550      58.579193

Looking at the min and max from the *mn_wag* column, it looks like there is a vast disparity between the scores of White students and Asian students (min: -131.1, max: 137.2). In fact, this suggests the opposite.

These scores are derived by subtracting the first subgroup ("W") from the second ("A"). So it appears that in at least one school, Asian student scores are __on average higher__ than their White peers by 131 points. The converse is true given the max value as well.

Armed with this information, we can see that there does indeed appear to be a disparity between White and Black students' as well as White and Hispanic students' scores. The same holds for Male v Female scores, with the disparity favoring Female students.

# Produce Datasets

Derived from the NAEP dataset

* Demographic Inclusive
    * ELA
    * Math
* Demographic Exclusive
    * ELA
    * Math

### Demo ELA

In [29]:
demo_ela= long_naep.loc[long_naep["subject"] == "ela"].dropna(how="any")

In [30]:
demo_ela.head()

,leaidC,leaname,fips,stateabb,grade,year,subject,mn_all,mn_asn,mn_blk,mn_fem,mn_hsp,mn_mal,mn_wht,mn_wag,mn_wbg,mn_whg,mn_mfg
172,100007,Hoover City,1,AL,3,2009,ela,214.54395,220.27069,190.93071,217.31458,195.04224,212.36569,224.37381,4.103119,33.443100,29.331573,-4.948883
176,100007,Hoover City,1,AL,3,2011,ela,217.66377,222.10507,193.69196,219.95566,189.55688,214.78072,231.69139,9.586319,37.999435,42.134506,-5.174942
178,100007,Hoover City,1,AL,3,2012,ela,215.21539,220.94724,191.52635,219.43379,185.46619,211.59489,226.93578,5.988541,35.409424,41.469589,-7.838898
180,100007,Hoover City,1,AL,3,2013,ela,213.73804,220.89682,196.55606,215.47179,184.31003,211.50256,224.43622,3.539398,27.880157,40.126190,-3.969223
182,100007,Hoover City,1,AL,3,2014,ela,219.03290,229.80255,197.46252,222.84422,190.68884,215.92966,228.89838,-0.904175,31.435852,38.209534,-6.914566

### Demo Math

In [31]:
demo_math= long_naep.loc[long_naep["subject"] == "math"].dropna(how="any")

In [32]:
demo_math.head()

,leaidC,leaname,fips,stateabb,grade,year,subject,mn_all,mn_asn,mn_blk,mn_fem,mn_hsp,mn_mal,mn_wht,mn_wag,mn_wbg,mn_whg,mn_mfg
173,100007,Hoover City,1,AL,3,2009,math,222.00957,228.68329,205.59877,220.91368,200.90639,222.98395,228.69203,0.008743,23.093262,27.785645,2.070267
177,100007,Hoover City,1,AL,3,2011,math,223.60043,231.37659,207.22340,222.21732,208.76343,225.15512,231.22810,-0.148483,24.004700,22.464676,2.937805
179,100007,Hoover City,1,AL,3,2012,math,223.30418,234.07726,205.46187,223.13036,201.37108,223.36121,229.63614,-4.441116,24.174271,28.265060,0.230850
181,100007,Hoover City,1,AL,3,2013,math,226.40253,245.31400,213.29327,225.05655,210.97031,227.76344,231.85593,-13.458069,18.562653,20.885620,2.706894
183,100007,Hoover City,1,AL,3,2014,math,230.91217,244.89435,216.53716,230.94514,218.20084,230.68436,236.18112,-8.713226,19.643967,17.980286,-0.260788

### All ELA

In [33]:
all_ela= long_naep.loc[long_naep["subject"] == "ela"]

In [34]:
all_ela.head()

,leaidC,leaname,fips,stateabb,grade,year,subject,mn_all,mn_asn,mn_blk,mn_fem,mn_hsp,mn_mal,mn_wht,mn_wag,mn_wbg,mn_whg,mn_mfg
0,100002,Alabama Youth Services,1,AL,8,2009,ela,209.40759,NaN,NaN,NaN,NaN,207.21269,NaN,NaN,NaN,NaN,NaN
2,100002,Alabama Youth Services,1,AL,8,2011,ela,230.81302,NaN,NaN,NaN,NaN,229.81973,NaN,NaN,NaN,NaN,NaN
4,100002,Alabama Youth Services,1,AL,8,2012,ela,227.06160,NaN,NaN,NaN,NaN,224.74576,NaN,NaN,NaN,NaN,NaN
6,100005,Albertville City,1,AL,3,2009,ela,204.40581,NaN,NaN,206.97821,195.20105,201.54659,211.53754,NaN,NaN,16.336487,-5.431625
8,100005,Albertville City,1,AL,3,2010,ela,206.01045,NaN,NaN,NaN,196.38988,NaN,211.12666,NaN,NaN,14.736786,NaN

### All Math

In [35]:
all_math= long_naep.loc[long_naep["subject"] == "math"]

In [36]:
all_math.head()

,leaidC,leaname,fips,stateabb,grade,year,subject,mn_all,mn_asn,mn_blk,mn_fem,mn_hsp,mn_mal,mn_wht,mn_wag,mn_wbg,mn_whg,mn_mfg
1,100002,Alabama Youth Services,1,AL,8,2009,math,217.34308,NaN,208.98753,NaN,NaN,215.39435,NaN,NaN,NaN,NaN,NaN
3,100002,Alabama Youth Services,1,AL,8,2011,math,221.81458,NaN,NaN,NaN,NaN,223.95609,NaN,NaN,NaN,NaN,NaN
5,100002,Alabama Youth Services,1,AL,8,2012,math,229.63074,NaN,NaN,NaN,NaN,229.88904,NaN,NaN,NaN,NaN,NaN
7,100005,Albertville City,1,AL,3,2009,math,216.63632,NaN,NaN,216.87672,211.63123,215.30283,220.40680,NaN,NaN,8.775574,-1.573898
9,100005,Albertville City,1,AL,3,2010,math,228.81721,NaN,NaN,NaN,223.30786,NaN,233.30249,NaN,NaN,9.994629,NaN

## Save to CSV

In [37]:
# demo_ela.to_csv(r"resources\datasets\demo_ela.csv")
# demo_math.to_csv(r"resources\datasets\demo_math.csv")
# all_ela.to_csv(r"resources\datasets\all_ela.csv")
# all_math.to_csv(r"resources\datasets\all_math.csv")

# Investigating data integrity at different levels

In [38]:
print(len(demo_ela))
print(len(demo_math))
print(len(all_ela))
print(len(all_math))

27516
26423
424550
401266

In [39]:
col= "stateabb"

print(len(demo_ela[col].value_counts()))
print(len(demo_math[col].value_counts()))
print(len(all_ela[col].value_counts()))
print(len(all_math[col].value_counts()))

50
50
51
51

In [40]:
long_naep.loc[long_naep["stateabb"] == "HI"]

,leaidC,leaname,fips,stateabb,grade,year,subject,mn_all,mn_asn,mn_blk,mn_fem,mn_hsp,mn_mal,mn_wht,mn_wag,mn_wbg,mn_whg,mn_mfg
126610,1500030,Hawaii Department Of Education,15,HI,3,2009,ela,198.14999,195.61273,192.13727,207.58873,193.43359,189.20732,214.91765,19.304916,22.780380,21.484055,-18.381409
126611,1500030,Hawaii Department Of Education,15,HI,3,2009,math,225.42500,224.52573,216.19893,227.93654,219.24442,222.95615,233.96054,9.434814,17.761612,14.716125,-4.980393
126612,1500030,Hawaii Department Of Education,15,HI,3,2010,ela,199.83749,197.60887,193.85538,207.60220,192.68416,192.24516,215.35545,17.746582,21.500076,22.671295,-15.357040
126613,1500030,Hawaii Department Of Education,15,HI,3,2010,math,226.75000,225.96872,217.70604,228.76520,221.20061,224.73845,234.32510,8.356384,16.619064,13.124496,-4.026749
126614,1500030,Hawaii Department Of Education,15,HI,3,2011,ela,201.52499,198.89909,198.78185,207.14597,197.77734,196.23195,219.01489,20.115799,20.233047,21.237549,-10.914017
126615,1500030,Hawaii Department Of Education,15,HI,3,2011,math,228.07500,227.00722,220.75934,228.44926,223.41068,227.71638,236.88481,9.877594,16.125473,13.474136,-0.732880
126616,1500030,Hawaii Department Of Education,15,HI,3,2012,ela,201.89999,199.03285,199.10538,207.45303,202.07918,196.61391,218.30388,19.271027,19.198502,16.224701,-10.839127
126617,1500030,Hawaii Department Of Education,15,HI,3,2012,math,230.60001,229.42679,221.32132,231.63226,228.33118,229.62617,239.13835,9.711563,17.817032,10.807175,-2.006088
126618,1500030,Hawaii Department Of Education,15,HI,3,2013,ela,202.27501,199.16106,199.88129,208.41461,195.81602,196.41344,223.64088,24.479828,23.759598,27.824860,-12.001175
126619,1500030,Hawaii Department Of Education,15,HI,3,2013,math,233.12500,231.76854,226.08823,233.57732,228.00497,232.69595,243.75034,11.981796,17.662109,15.745361,-0.881363
126620,1500030,Hawaii Department Of Education,15,HI,3,2014,ela,202.79999,199.66621,199.54201,208.87375,200.13083,197.15955,222.28629,22.620071,22.744278,22.155457,-11.714203
126621,1500030,Hawaii Department Of Education,15,HI,3,2014,math,229.82500,228.60985,223.00351,230.53314,225.11794,229.14597,239.65439,11.044540,16.650879,14.536453,-1.387177
126622,1500030,Hawaii Department Of Education,15,HI,3,2015,ela,203.32498,201.41118,203.85268,209.63513,198.63216,197.25182,219.83260,18.421417,15.979919,21.200439,-12.383316
126623,1500030,Hawaii Department Of Education,15,HI,3,2015,math,226.52499,225.78601,220.37473,227.24710,221.96251,225.81697,236.96722,11.181213,16.592499,15.004715,-1.430130
126624,1500030,Hawaii Department Of Education,15,HI,4,2009,ela,209.20000,206.57936,205.85115,217.24649,203.48955,201.79524,225.93683,19.357468,20.085678,22.447281,-15.451248
126625,1500030,Hawaii Department Of Education,15,HI,4,2009,math,234.80000,233.42055,229.45642,237.85880,229.64792,231.86369,245.35562,11.935074,15.899200,15.707703,-5.995102
126626,1500030,Hawaii Department Of Education,15,HI,4,2010,ela,210.79999,208.53027,204.08311,218.74248,209.89308,203.13217,225.51590,16.985626,21.432785,15.622818,-15.610306
126627,1500030,Hawaii Department Of Education,15,HI,4,2010,math,236.30000,235.01292,228.15739,239.58043,233.21893,233.04356,246.04042,11.027496,17.883026,12.821487,-6.536865
126628,1500030,Hawaii Department Of Education,15,HI,4,2011,ela,212.39999,209.41209,209.57213,216.43401,212.56200,208.22800,230.90500,21.492905,21.332870,18.343002,-8.206009
126629,1500030,Hawaii Department Of Education,15,HI,4,2011,math,237.80000,236.87982,228.16302,238.40314,234.10463,237.18025,246.01042,9.130600,17.847397,11.905792,-1.222885
126630,1500030,Hawaii Department Of Education,15,HI,4,2012,ela,213.00000,209.86993,215.09831,216.86583,209.89037,209.20425,232.67191,22.801971,17.573593,22.781540,-7.661575
126631,1500030,Hawaii Department Of Education,15,HI,4,2012,math,240.20001,238.96033,237.43715,241.14613,235.31953,239.31783,249.52846,10.568130,12.091309,14.208923,-1.828308
126632,1500030,Hawaii Department Of Education,15,HI,4,2013,ela,213.60001,210.49120,210.40662,219.06779,214.07315,208.30794,231.41269,20.921494,21.006073,17.339539,-10.759857
126633,1500030,Hawaii Department Of Education,15,HI,4,2013,math,242.60001,241.58212,235.74509,243.71623,238.74341,241.56395,250.73445,9.152329,14.989365,11.991043,-2.152283
126634,1500030,Hawaii Department Of Education,15,HI,4,2014,ela,213.75000,210.59586,214.34122,219.51341,209.08229,208.30641,234.32866,23.732803,19.987442,25.246368,-11.207001
126635,1500030,Hawaii Department Of Education,15,HI,4,2014,math,239.75000,238.40683,233.21512,239.69675,234.38219,239.79587,250.77237,12.365540,17.557251,16.390182,0.099121
126636,1500030,Hawaii Department Of Education,15,HI,4,2015,ela,213.89999,211.34911,204.84824,220.27196,210.81886,208.08212,230.03893,18.689819,25.190689,19.220062,-12.189835
126637,1500030,Hawaii Department Of Education,15,HI,4,2015,math,236.89999,235.49619,228.63234,237.51494,232.15506,236.31418,248.41180,12.915619,19.779465,16.256744,-1.200760
126638,1500030,Hawaii Department Of Education,15,HI,5,2009,ela,220.25000,217.93805,222.50803,227.95203,213.78380,212.96631,234.59625,16.658203,12.088226,20.812454,-14.985718
126639,1500030,Hawaii Department Of Education,15,HI,5,2009,math,244.17500,243.46936,236.39424,246.64629,235.76781,241.79327,251.54877,8.079407,15.154526,15.780960,-4.853012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126664,1500030,Hawaii Department Of Education,15,HI,6,2015,ela,235.05000,232.82959,237.09877,243.49448,234.37854,227.28479,248.35612,15.526535,11.257355,13.977585,-16.209686
126665,1500030,Hawaii Department Of Education,15,HI,6,2015,math,257.64999,256.27856,255.23218,261.26111,255.26498,254.26187,267.60852,11.329956,12.376343,12.343536,-6.999237
126666,1500030,Hawaii Department Of Education,15,HI,7,2009,ela,242.34999,240.30759,243.09328,250.47829,239.01465,234.69524,254.55688,14.249298,11.463608,15.542236,-15.783051
126667,1500030,Hawaii Department Of Education,15,HI,7,2009,math,262.92499,261.28784,261.96625,267.09927,259.21890,258.77777,273.00439,11.716553,11.038147,13.785492,-8.321503
126668,1500030,Hawaii Department Of Education,15,HI,7,2010,ela,243.68750,241.25542,248.32065,250.99265,238.27145,236.85579,258.73758,17.482162,10.416931,20.466125,-14.136856
126669,1500030,Hawaii Department Of Education,15,HI,7,2010,math,264.95001,263.89981,261.35880,268.26230,253.16809,261.69910,273.90619,10.006378,12.547394,20.738098,-6.563202
126670,1500030,Hawaii Department Of Education,15,HI,7,2011,ela,245.02499,242.19130,246.20049,251.02020,244.36284,239.33194,263.63416,21.442856,17.433670,19.271317,-11.688263
126671,1500030,Hawaii Department Of Education,15,HI,7,2011,math,266.97501,266.05502,262.58441,270.05093,261.54507,264.01297,275.77890,9.723877,13.194489,14.233826,-6.037964
126672,1500030,Hawaii Department Of Education,15,HI,7,2012,ela,246.29999,243.04262,253.97202,252.23279,247.64568,240.89183,264.03604,20.993423,10.064026,16.390366,-11.340958
126673,1500030,Hawaii Department Of Education,15,HI,7,2012,math,269.00000,267.89935,264.14554,271.44901,264.44513,266.74704,278.97980,11.080444,14.834259,14.534668,-4.701965
126674,1500030,Hawaii Department Of Education,15,HI,7,2013,ela,247.57500,244.42126,248.24255,253.46724,248.00130,242.03654,265.91907,21.497803,17.676514,17.917770,-11.430695
126675,1500030,Hawaii Department Of Education,15,HI,7,2013,math,271.02499,270.03021,262.79181,273.75467,266.21292,268.37491,280.87241,10.842194,18.080597,14.659485,-5.379761
126676,1500030,Hawaii Department Of Education,15,HI,7,2014,ela,246.60001,243.87338,247.18027,251.84700,249.04750,241.40337,262.62222,18.748840,15.441956,13.574722,-10.443634
126677,1500030,Hawaii Department Of Education,15,HI,7,2014,math,269.52499,268.25558,262.93658,271.64508,267.21762,267.43777,279.67035,11.414764,16.733765,12.452728,-4.207306
126678,1500030,Hawaii Department Of Education,15,HI,7,2015,ela,245.62500,243.16597,249.17625,253.09613,243.71518,238.67905,261.54678,18.380814,12.370529,17.831604,-14.417084
126679,1500030,Hawaii Department Of Education,15,HI,7,2015,math,268.02499,266.75906,264.53149,270.64163,263.88297,265.50995,279.11462,12.355560,14.583130,15.231659,-5.131683
126680,1500030,Hawaii Department Of Education,15,HI,8,2009,ela,253.39999,251.75288,253.81227,260.89569,250.03214,246.05273,263.44699,11.694107,9.634720,13.414856,-14.842957
126681,1500030,Hawaii Department Of Education,15,HI,8,2009,math,272.29999,271.35638,269.73657,275.66733,265.56372,268.90857,279.08118,7.724793,9.344604,13.517456,-6.758759
126682,1500030,Hawaii Department Of Education,15,HI,8,2010,ela,254.64999,252.12445,257.82236,263.46292,255.57347,246.29007,268.18887,16.064423,10.366516,12.615402,-17.172852
126683,1500030,Hawaii Department Of Education,15,HI,8,2010,math,274.50000,273.16824,272.99503,277.08395,270.10910,272.06122,282.66095,9.492706,9.665924,12.551849,-5.022736
126684,1500030,Hawaii Department Of Education,15,HI,8,2011,ela,255.89999,253.05318,259.94119,261.43658,250.53969,250.68536,272.92175,19.868576,12.980560,22.382065,-10.751221
126685,1500030,Hawaii Department Of Education,15,HI,8,2011,math,276.70001,276.01196,273.40820,277.98538,265.67215,275.43515,284.91016,8.898193,11.501953,19.238007,-2.550232
126686,1500030,Hawaii Department Of Education,15,HI,8,2012,ela,257.39999,254.57674,259.81479,263.63770,257.43945,251.37648,276.46021,21.883469,16.645416,19.020752,-12.261215
126687,1500030,Hawaii Department Of Education,15,HI,8,2012,math,278.60001,278.10562,270.77252,280.61029,270.87665,276.68723,286.54465,8.439026,15.772125,15.667999,-3.923065
126688,1500030,Hawaii Department Of Education,15,HI,8,2013,ela,258.89999,255.93462,263.45633,264.34650,259.45956,253.81618,276.24002,20.305405,12.783691,16.780457,-10.530319
126689,1500030,Hawaii Department Of Education,15,HI,8,2013,math,280.50000,279.89609,273.51019,282.43597,273.87445,278.69913,289.01468,9.118591,15.504486,15.140228,-3.736847
126690,1500030,Hawaii Department Of Education,15,HI,8,2014,ela,257.54999,254.53809,256.07523,262.02234,257.17841,253.03458,277.46738,22.929291,21.392151,20.288971,-8.987763
126691,1500030,Hawaii Department Of Education,15,HI,8,2014,math,279.45001,278.95575,269.83084,282.17923,273.15445,276.73230,287.70099,8.745239,17.870148,14.546539,-5.446930
126692,1500030,Hawaii Department Of Education,15,HI,8,2015,ela,256.20001,254.19682,259.26492,264.15375,255.93076,247.92087,268.61899,14.422165,9.354065,12.688232,-16.232880
126693,1500030,Hawaii Department Of Education,15,HI,8,2015,math,278.39999,277.78711,270.15707,282.50189,273.82739,274.06165,286.44589,8.658783,16.288818,12.618500,-8.440247

In [41]:
col= "stateabb"

stateabb_df= pd.DataFrame({
    "demo_ela": demo_ela[col].value_counts(),
    "demo_math": demo_math[col].value_counts(),
    "all_ela": all_ela[col].value_counts(),
    "all_math": all_math[col].value_counts()
})

# print(demo_ela[col].value_counts())
# print(demo_math[col].value_counts())
# print(all_ela[col].value_counts())
# print(all_math[col].value_counts())

stateabb_df

    demo_ela  demo_math  all_ela  all_math
AK      96.0      102.0     1302      1299
AL     227.0      239.0     5489      5500
AR     206.0      206.0     9567      8859
AZ    1008.0     1011.0     6021      6035
CA    4615.0     3335.0    26362     19063
CO     250.0      267.0     2342      2277
CT     590.0      630.0     5375      5367
DC      33.0       40.0       41        41
DE     196.0      224.0      649       650
FL     887.0      781.0     2865      2471
GA     737.0      988.0     7517      7518
HI      42.0       42.0       42        42
IA     291.0      316.0    12627     12618
ID      61.0       77.0     3075      3084
IL    1201.0     1241.0    28006     28065
IN     378.0      494.0    12037     12045
KS     195.0      258.0     8000      8040
KY     180.0      233.0     7142      7142
LA     323.0      366.0     3042      3042
MA     628.0      650.0    10415     10439
MD     453.0      518.0      922       923
ME      25.0       33.0     4454      4369
MI     563.0      733.0    20686     20722
MN    1014.0     1035.0    12699     12711
MO     587.0      604.0    16083     14937
MS     124.0      124.0     5910      5901
MT      12.0       13.0     3056      3076
NC     794.0      868.0     4840      4840
ND      22.0       29.0     2386      2381
NE     124.0      118.0     5599      4666
NH      44.0       47.0     4613      4613
NJ    1753.0     1776.0    16327     16328
NM     129.0      129.0     2797      2790
NV      61.0       62.0      457       459
NY     966.0      999.0    20331     20142
OH     531.0      565.0    25224     24623
OK     484.0      475.0    15034     14374
OR     251.0      291.0     5387      5024
PA     910.0      982.0    20845     20853
RI     113.0      122.0     1259      1277
SC     537.0      570.0     3523      3523
SD      27.0       35.0     3346      3350
TN     378.0      436.0     5584      5457
TX    2793.0     2274.0    34805     28211
UT     314.0      278.0     1601      1401
VA     885.0      318.0     5525      1835
VT       NaN        NaN     3720      3721
WA     848.0      857.0     6459      6457
WI     609.0      613.0    15823     15816
WV      15.0       13.0     2324      2048
WY       6.0        6.0     1015       841

In [42]:
col= "grade"

print(demo_ela[col].value_counts())
print(demo_math[col].value_counts())
print(all_ela[col].value_counts())
print(all_math[col].value_counts())

5    4673
4    4640
3    4614
6    4596
7    4499
8    4494
Name: grade, dtype: int64
3    4942
4    4926
5    4753
6    4653
7    3666
8    3483
Name: grade, dtype: int64
5    71430
4    71310
3    71061
6    70888
7    69956
8    69905
Name: grade, dtype: int64
4    70827
3    70788
5    70074
6    69520
7    61764
8    58293
Name: grade, dtype: int64

In [43]:
col= "leaname"

print(len(demo_ela[col].value_counts()))
print(len(demo_math[col].value_counts()))
print(len(all_ela[col].value_counts()))
print(len(all_math[col].value_counts()))

1202
1210
11723
11699

In [44]:
col= "year"

print(demo_ela[col].value_counts())
print(demo_math[col].value_counts())
print(all_ela[col].value_counts())
print(all_math[col].value_counts())

2012    4933
2013    4417
2011    4241
2010    4124
2009    3859
2015    3170
2014    2772
Name: year, dtype: int64
2012    4367
2013    4234
2011    4074
2010    3919
2009    3563
2015    3446
2014    2820
Name: year, dtype: int64
2012    64590
2011    64478
2010    64310
2013    64018
2009    63786
2015    52945
2014    50423
Name: year, dtype: int64
2011    62424
2009    61490
2010    61103
2012    60618
2013    59421
2015    49473
2014    46737
Name: year, dtype: int64

# New DF restrictions
Restrict data to all schools in 2015.

In [49]:
ela2015_df= long_naep.loc[(long_naep["subject"] == "ela") & (long_naep["year"] == 2015)]
math2015_df= long_naep.loc[(long_naep["subject"] == "math") & (long_naep["year"] == 2015)]

In [50]:
print(len(ela2015_df))
print(len(math2015_df))

52945
49473

In [51]:
print(len(ela2015_df["leaname"].value_counts()))
print(len(math2015_df["leaname"].value_counts()))

9512
9464

In [52]:
ela2015_df.to_csv("resources/datasets/ela2015.csv")
math2015_df.to_csv("resources/datasets/math2015.csv")